<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="<%- skulpt %>" type="text/javascript"></script>
    <script src="skulpt-stdlib.js" type="text/javascript"></script>
    <script src="test/unit2.js" type="text/javascript"></script>
    <script src="test/unit3.js" type="text/javascript"></script>
    <script src="test/unitpyangelo.js" type="text/javascript"></script>
    <script src="test/runner.js" type="text/javascript"></script>

<script type="text/javascript">
Sk.unit2files = <%- test2 %>;
Sk.unit3files = <%- test3 %>;
Sk.unitpyangelofiles = <%- test4 %>;
</script>
</head>
<body>
<h1>In Browser Testing Page</h1>

<h3>Testing</h3>

<p>Using <%- skulpt %> build.</p>

<div id="runbrowser">
<form>
<button onclick="rununits('runbrowser', 'python2')" type="button">Run Python2 Unit Tests</button>
<button onclick="rununits('runbrowser', 'python3')" type="button">Run Python3 Unit Tests</button>
<button onclick="rununits('runbrowser', 'unitpyangelo')" type="button">Run PyAngelo Unit Tests</button>
</form>

<h3>Output</h3>
<pre id="runbrowser_pre" style="background-color: #dddddd"></pre>
<h3>Canvas</h3>
<canvas id="canvas" width="500" height="400" tabindex="1"></canvas>
<pre id="console"></pre>
</div>

</div>
<div id="files">
<%- files %>
</div>
<script>
Sk.PyAngelo.preparePage();
</script>

</body>
</html>
